<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>216465609942-vvkiv9bj99ofjn4v8mjpi4ggcd85tbtr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216465609942-vvkiv9bj99ofjn4v8mjpi4ggcd85tbtr</string>
	<key>API_KEY</key>
	<string>AIzaSyC4PsZ0KJqUbmMUZm_rvqxCNiI2pLst3es</string>
	<key>GCM_SENDER_ID</key>
	<string>216465609942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobileBanking</string>
	<key>PROJECT_ID</key>
	<string>mobile-banking-69073</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-banking-69073.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216465609942:ios:6e18ba4e2c75399fbe2577</string>
</dict>
</plist>